<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="addClick()" data-backdrop="static" data-keyboar="false">
    Add Task
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-edit-task [task]="task" *ngIf="ActivateAdd"></app-add-edit-task>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <div class="d-flex flex-row"><button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="addClick()" data-backdrop="static" data-keyboar="false">
                    Add Task
                </button></div>
            </th>
            <th style="align-items: right; width: 40%">
                <div class="d-flex flex-row">
                    <input [(ngModel)]="TaskProrityFilter" class="form-control" (keyup)="FilterTask()"
                        placeholder="Filter (Enter Task Name)">
                    <button type="button" class="btn btn-light" (click)="sortResult('Priority',true)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-light" (click)="sortResult('Priority',false)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                        </svg>
                    </button>
                </div>
            </th>
            <!-- <th>
                <div class="d-flex flex-row">
                    <input [(ngModel)]="TaskProrityFilter" class="form-control" (keyup)="FilterTask()" placeholder="Filter">
                </div>
            </th> -->
        </tr>
    </thead>
</table>
<!-- <tbody> -->
<table class="table table-striped">
    <thead>
        <tr class="container">
            <td style="background-color: rgb(218, 236, 248); width: 150px; ">
                <div style="text-align: center; line-height:260px;">Stage 1</div>
            </td>
            <td style="background-color:rgb(227, 236, 245);">
                <div class="container">
                    <div class="row">
                        <div cdkDrop cdkDragLockAxis="y"   class="card box-list" style="width: 30%; margin-right: 1em; margin-bottom: 0.5em;"
                            *ngFor="let dataItem of StageOneTaskDetailsList" (cdkDropListDropped)="drop($event)">
                            <div cdkDrag class="card-body drag-box" style="padding: 10px 10px;">
                                <h5 class="card-title" style="text-align: left;">Task Name:{{dataItem.Task}}</h5>
                                <p class="card-text" style="font-size: small;">{{dataItem.Description}}</p>
                                <a href="#" class="card-link" style="padding-right: 20px;">{{dataItem.By_who}}</a>
                                <button type="button" *ngIf="dataItem.Priority == 1" class="btn btn-danger"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                                <button type="button" *ngIf="dataItem.Priority == 2" class="btn btn-warning"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                                <button type="button" *ngIf="dataItem.Priority > 2 " class="btn btn-secondary"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="container">
            <td style="background-color: rgb(223, 215, 228);">
                <div style="text-align: center; line-height:600px;">Stage 2</div>
            </td>
            <td style="background-color: rgb(245, 243, 247);">
                <div class="container">
                    <div class="row">
                        <div class="card" style="width: 30%; margin-right: 1em; margin-bottom: 0.5em;"
                            *ngFor="let dataItem of StageTwoTaskDetailsList">
                            <div class="card-body" style="padding: 10px 10px;">
                                <h5 class="card-title">Task Name:{{dataItem.Task}}</h5>
                                <p class="card-text" style="font-size: small;">{{dataItem.Description}}</p>
                                <a href="#" class="card-link" style="padding-right: 20px;">{{dataItem.By_who}}</a>
                                <button type="button" *ngIf="dataItem.Priority == 1" class="btn btn-danger"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                                <button type="button" *ngIf="dataItem.Priority == 2" class="btn btn-warning"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                                <button type="button" *ngIf="dataItem.Priority > 2 " class="btn btn-secondary"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="container">
            <td style="background-color: rgb(240, 231, 214);">
                <div style="text-align: center; line-height:260px;">Stage 3</div>
            </td>
            <td style="background-color: rgb(238, 234, 227);">
                <div class="container">
                    <div class="row">
                        <div class="card" style="width: 15rem; margin-right: 1em; margin-bottom: 0.5em;"
                            *ngFor="let dataItem of StageThreeTaskDetailsList">
                            <div class="card-body" style="padding: 10px 10px;">
                                <h5 class="card-title">Task Name:{{dataItem.Task}}</h5>
                                <p class="card-text" style="font-size: small;">{{dataItem.Description}}</p>
                                <a href="#" class="card-link" style="padding-right: 20px;">{{dataItem.By_who}}</a>
                                <button type="button" *ngIf="dataItem.Priority == 1" class="btn btn-danger"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                                <button type="button" *ngIf="dataItem.Priority == 2" class="btn btn-warning"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                                <button type="button" *ngIf="dataItem.Priority > 2 " class="btn btn-secondary"
                                    style="float: right;">Priority {{dataItem.Priority}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </thead>
    <!-- </tbody> -->
</table>